* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "font-google";
  src: url(FONT/poppins-regular-webfont.woff);
}

html {
  font-size: 62.5%;
  color: #6b728e;
}

body {
  font: inherit/1.25em "font-google";
  font-family: "font-google";
  background: linear-gradient(to right, #474e68, #404258 15% 70%, #474e68);
  box-sizing: border-box;
}

/* NAVIAGATION BAR */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #50577a;
  transition: 1s;
  height: 10vh;
  z-index: 100;
  transition: 1s;
}

/* 1. LOGO */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  letter-spacing: 0.2em;
  font-size: 2vw;
  height: inherit;
  color: #404258;
}

/* 2. Naviagtion Link */
.nav-group-link {
  flex-grow: 3;
}

.nav-group-link ul {
  display: flex;
  justify-content: flex-end;
  gap: 5%;
  margin-right: 10%;
}

.nav-group-link a {
  text-decoration: none;
  color: rgb(64, 66, 88);
  font-size: 1.5vw;
}

.nav-group-link li {
  list-style: none;
}

/* Javascript event */
.text-shadow {
  text-shadow: 0 0 10px #474e68, 0 0 20px #474e68, 0 0 30px #474e68;
}

.box-shadow {
  box-shadow: 0 0 10px #474e68, 0 0 20px #474e68, 0 0 30px #474e68;
}

.nav.sticky {
  position: fixed;
  opacity: 0.5;
  width: 100%;
}

/* 3. Login Button */
.loginBtn {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 5%;
  font-size: 1.5rem;
  margin: 2.5vw;
}

.loginBtn button {
  background-color: #6b728e;
  border-radius: 15rem;
  width: fit-content;
  height: fit-content;
  padding: 5% 10%;
  font-size: 1.3vw;
  font-family: "font-google";
  font-weight: 550;
  color: #404258;
  border: none;
  cursor: pointer;
}

/* Main */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "teks gambar";
  height: 100vh;
}

/* Company Description */
.companyDescription {
  grid-area: teks;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* Main Header */
.main-header {
  margin-left: 7.5vw;
}

.companyDescription h2 {
  font-size: 4.5vw;
  line-height: 1em;
  margin: 5vh auto 2vh;
  color: #6b728e;
}

/* Main Caption */
.mainCaption {
  font-size: 1vw;
  width: 70%;
  margin: 0 auto 3vh;
}

/* Main Button */
.homeButton {
  width: 65%;
  display: flex;
  justify-content: flex-start;
  margin: 0 0 3vh 7vw;
}

.homeButton button:hover {
  filter: brightness(110%);
}

.trial-button {
  width: 10vw;
  height: 3vh;
  background-color: #6b728e;
  border-radius: 10px;
  padding: 2vh 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #404258;
  font-size: 1vw;
  cursor: pointer;
  /* border: 1px solid green; */
}

.view-demo-button {
  background-color: inherit;
  border: none;
  width: 100%;
  display: flex;
  gap: 0.4vw;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3%;
  color: #6b728e;
  font-size: 1.5vw;
  text-align: left;
  cursor: pointer;
  /* border: 1px solid blue; */
}

/* Company Image */
.companyImage {
  grid-area: gambar;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageHome {
  width: 50%;
  height: 50%;
  background-color: #50577a;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Begin to enter some sections */
section {
  height: 80vh;
  padding: 5vh 0 10vh;
  transition: transform 1s, opacity 1s;
  border-top: 1vh solid #6b728e;
}

.start-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  text-align: center;
}

.image-banefits {
  grid-area: image;
  height: 70%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s, opacity 1s;
}

.imageSection {
  background-color: #6b728e;
  width: 80%;
  height: 80%;
}

.caption-banefits {
  grid-area: text;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1.5vw;
  align-self: center;
  padding-left: 2vw;
  padding-right: 1vw;
  transition: transform 1s, opacity 1s;
}

.banefits-hidden-1 {
  opacity: 0;
  transform: translateX(-8rem);
}

.banefits-hidden-2 {
  opacity: 0;
  transform: translateX(8rem);
}

.caption-1,
.caption-3,
.caption-5 {
  padding-left: 3vw;
  padding-right: 1vw;
}

.caption-2,
.caption-4 {
  padding-left: 1vw;
  padding-right: 2vw;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section-1,
.section-3,
.section-5 {
  grid-template-areas: "text image";
}

.section-2,
.section-4 {
  grid-template-areas: "image text";
}

/* Subscription Section */
.subscription-section {
  height: 150vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
.subscription-text {
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription-text h1 {
  font-size: 3.5vw;
}

.subscription-text p {
  margin-top: 2vh;
  font-size: 1.5vw;
}

.subscription-duration-option {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  width: 23vw;
  height: 8vh;
  background-color: #6b728e;
  padding: 0.5vh 0.5vw;
  border-radius: 10px;
}

.subscription-option {
  font-size: 1.6vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3vh 0.3vw;
  color: #404258;
  border-radius: 10px;
  width: 50%;
}

.subscription-option-1 {
  background-color: #50577a;
}

.subscription-boxes {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
  box-sizing: border-box;
  margin-top: 5vh;
  padding: 3% 3%;
}

.subs-box {
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #50577a;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #404258;
  padding: 2% 2%;
}

.subs-title-text,
.subs-price {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subs-title-text {
  width: 90%;
  height: 25%;
}

.subs-title-text h1 {
  font-size: 3vw;
}

.subs-title-text p {
  font-size: 1.5vw;
}

.subs-price {
  width: 90%;
  height: 25%;
  font-size: 3vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subs-banefits {
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  background-color: #6b728e;
  color: #404258;
  padding: 5% 5%;
  border-radius: 15px;
}

.banefits-list {
  font-size: 1.5vw;
}

.subs-banefits ul li {
  list-style: none;
  background-image: url(img/checklist_7.svg);
  background-repeat: no-repeat;
  background-position: left 15%;
  display: flex;
  align-items: center;
  background-size: 1.5vw;
  padding-left: 2vw;
  list-style-position: inside;
}

.purchase-button {
  width: 90%;
  height: 18%;
  border-radius: 15px;
  background-color: #404258;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #6b728e;
  font-size: 1.5vw;
  cursor: pointer;
}

.purchase-button:hover {
  filter: brightness(110%);
}

/* FAQ */
.faq {
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.faq h1 {
  font-size: 3vw;
}

.faq-boxes {
  width: 90%;
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

.faqbox {
  width: 85%;
  height: min-content;
  padding: 2%;
  color: #404258;
  font-size: 1.5vw;
  background-color: #6b728e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.5s;
}

.faq-question {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.faq-question:hover {
  filter: brightness(150%);
  color: black;
}

.faq-question p {
  justify-self: start;
}

.faq-question object {
  justify-self: end;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  height: max-content;
  border-top: 1vh solid #6b728e;
  font-size: 1vw;
  padding: 3% 3%;
  gap: 2vh;
}

.footer-links {
  display: flex;
  gap: 1vw;
  justify-content: space-between;
}

.links-box ul li {
  list-style: none;
  margin-top: 5px;
}

.links-box ul li a {
  color: inherit;
}

/* Rating Section */

.rating-section {
  text-align: center;
  display: flex;
  gap: 2vw;
  font-size: 1vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: 0 20px; */
}

.card-ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.card-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 360px;
  background-color: #50577a;
  border-radius: 15px;
  color: #404258;
}

.card-rating img {
  height: 100px;
  width: 100px;
}

.desc-card {
  margin-top: 15px;
  padding: 0 10%;
}

.btn {
  width: 30vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 13rem;
}

.small-circles {
  display: flex;
  gap: 0.5vw;
}

.small-circle {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: #6b728e;
  cursor: pointer;
}

svg {
  cursor: pointer;
}
/* Modal Style */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background: linear-gradient(to right, #474e68, #404258 15% 70%, #474e68);
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.modal2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background: linear-gradient(to right, #474e68, #404258 15% 70%, #474e68);
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.btn-modal {
  display: inline-block;
  background-color: #6b728e;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  color: #404258;
}

.highlight {
  position: relative;
  color: #404258;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background: linear-gradient(to right, #50577a, #6b728e);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.disappear {
  display: none;
}
