* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "font-google";
  src: url(FONT/poppins-regular-webfont.woff);
}

html {
  font-size: 62.5%;
  color: black;
}

body {
  font: inherit/1.25em "font-google";
  font-family: "font-google";
  background-color: white;
  /* background: linear-gradient(to right, #474e68, #404258 15% 70%, #474e68); */
  box-sizing: border-box;
}
@media (min-width: 768px) {
  /* NAVIAGATION BAR */
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    transition: 1s;
    height: 8vw;
    z-index: 100;
    transition: 1s;
  }

  /* 1. LOGO */
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    letter-spacing: 0.2em;
    font-size: 2vw;
    height: inherit;
    color: white;
  }

  /* 2. Naviagtion Link */
  .nav-group-link {
    flex-grow: 3;
  }

  .nav-group-link ul {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    margin-right: 10%;
  }

  .nav-group-link a {
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
  }

  .nav-group-link li {
    list-style: none;
  }

  /* Javascript event */
  .text-shadow {
    text-shadow: 0 0 10px #474e68, 0 0 20px #474e68, 0 0 30px #474e68;
  }

  .box-shadow {
    box-shadow: 0 0 10px #474e68, 0 0 20px #474e68, 0 0 30px #474e68;
  }

  .nav.sticky {
    position: fixed;
    opacity: 0.5;
    width: 100vw;
  }

  /* 3. Login Button */
  .loginBtn {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 5%;
    font-size: 1.5rem;
    margin: 2.5vw;
  }

  .loginBtn button {
    background-color: white;
    border-radius: 15rem;
    width: fit-content;
    height: fit-content;
    padding: 5% 10%;
    font-size: 1.3vw;
    font-family: "font-google";
    font-weight: 550;
    color: #404258;
    border: none;
    cursor: pointer;
  }

  .nav-group-link ul .nav-button {
    display: none;
  }

  /* Main */
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    grid-template-areas:
      "title image"
      "caption image"
      "button image";
    padding: 13vw 0;
    align-content: center;
    /* margin-bottom: 50px; */
  }

  /* Main Header */
  .main-header {
    font-size: 3.5vw;
    margin-left: 7.5vw;
    grid-area: title;
    line-height: 5.7vw;
    color: black;
  }

  .main-highlight {
    font-size: 4.5vw;
  }

  /* Main Caption */
  .mainCaption {
    grid-area: caption;
    font-size: 1vw;
    width: 70%;
    margin-left: 7.5vw;
  }

  /* Main Button */
  .homeButton {
    grid-area: button;
    width: fit-content;
    margin: 1vw 0 0 7.5vw;
  }

  .homeButton button:hover {
    opacity: 0.8;
    transition: 0.5s;
  }

  .learnmore-button {
    width: 10vw;
    background-color: black;
    border-radius: 0.5vw;
    padding: 1vw;
    border: none;
    color: white;
    font-size: 1vw;
    cursor: pointer;
    /* border: 1px solid green; */
  }

  /* Company Image */
  .companyImage {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .imageHome {
    width: 80%;
    box-shadow: 0 0 0.5rem 2rem rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Begin to enter some sections */
  section {
    height: fit-contentf;
    transition: transform 1s, opacity 1s;
    border-top: 1vh solid black;
    padding: 10rem 0;
  }

  .start-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
    text-align: center;
    padding: 10vw;
  }

  .start-section h1 {
    transition: 2s;
  }

  .image-banefits {
    grid-area: image;
    padding: 2vw;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
  }

  .imageSection {
    width: 80%;
    box-shadow: 3px 3px 3px 3px black;
  }

  .image1,
  .image3,
  .image5 {
    box-shadow: -5px 5px 10px 1rem black;
  }

  .image2,
  .image4 {
    box-shadow: 5px 5px 10px 1rem black;
  }

  .title-banefits {
    grid-area: title;
    display: flex;
    align-items: flex-end;
    height: fit-content;
    font-size: 1.5vw;
    align-self: end;
    transition: 1s;
  }

  .caption-banefits {
    grid-area: text;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5vw;
    align-self: start;
    transition: transform 1s;
  }

  .banefits-hidden-1 {
    opacity: 0;
    transform: translateX(-8rem);
  }

  .banefits-hidden-2 {
    opacity: 0;
    transform: translateX(8rem);
  }

  .caption-1,
  .caption-3,
  .caption-5 {
    text-align: start;
  }

  .caption-2,
  .caption-4 {
    text-align: end;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10vw 3vw;
    height: fit-content;
  }

  .section--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }

  .section-1,
  .section-3,
  .section-5 {
    grid-template-areas:
      "title image"
      "text image";
    text-align: start;
  }

  .section-2,
  .section-4 {
    grid-template-areas:
      "image title"
      "image text";
    text-align: end;
  }

  /* Subscription Section */
  .subscription-section {
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  }
  .subscription-text {
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subscription-text h1 {
    font-size: 3.5vw;
  }

  .subscription-text p {
    margin-top: 2rem;
    font-size: 1.5vw;
  }

  .subscription-duration-option {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    width: 23vw;
    height: fit-content;
    box-shadow: 0 0 2rem 1rem rgb(0, 0, 0, 0.2);
    padding: 0.5vw;
    border-radius: 10px;
  }

  .selected-option {
    width: 50%;
    position: absolute;
    height: 85%;
    border-radius: 1rem;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    left: 0;
    top: 8%;
    margin: 0 2%;
    transition: 1s;
  }

  .move-to-right {
    transform: translateX(93%);
    /* background-color: rgb(80, 87, 122, .5); */
  }

  .subscription-option {
    font-size: 1.6vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 50%;
    height: 4vw;
    cursor: pointer;
    background-color: transparent;
    z-index: 2;
    transition: 1s;
  }

  .subscription-option-2 {
    color: black;
  }

  .subscription-boxes {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    box-sizing: border-box;
    padding: 3vw 3vw;
  }

  .subs-box {
    width: 30%;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2rem 1rem rgb(0, 0, 0, 0.2);
    align-items: center;
    color: black;
    padding: 1vw 1vw;
    transition: 1s;
    height: fit-content;
  }

  .subs-box:hover {
    filter: brightness(110%);
    transform: translateY(-3rem);
  }

  .subs-title-text,
  .subs-price {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .subs-title-text {
    width: 90%;
    height: 25%;
  }

  .subs-title-text h1 {
    font-size: 3vw;
  }

  .subs-title-text p {
    font-size: 1.5vw;
  }

  .subs-price {
    width: 90%;
    height: fit-content;
    font-size: 3vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subs-banefits {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    box-shadow: 0 0 2rem 1rem rgb(0, 0, 0, 0.2);
    color: black;
    padding: 5% 5%;
    border-radius: 15px;
  }

  .banefits-list {
    font-size: 1.5vw;
  }

  .subs-banefits ul li {
    list-style: none;
    background-image: url(img/checklist.svg);
    background-repeat: no-repeat;
    background-position: left 15%;
    display: flex;
    align-items: center;
    background-size: 1.5vw;
    padding-left: 2vw;
    list-style-position: inside;
  }

  .purchase-button {
    width: 90%;
    height: fit-content;
    border-radius: 15px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.5vw;
    padding: 0.3vw;
    cursor: pointer;
  }

  .purchase-button:hover {
    opacity: 0.8;
    transition: 0.5s;
  }

  /* FAQ */
  .faq {
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .faq h1 {
    font-size: 3vw;
  }

  .faq-boxes {
    width: 90%;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
  }

  .faqbox {
    width: 85%;
    height: min-content;
    padding: 2%;
    color: black;
    font-size: 1.5vw;
    box-shadow: 0 0 2rem 1rem rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.5s;
  }

  .faq-question {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }

  .faq-question object {
    transition: 0.5s;
    width: 5vw;
    height: 5vw;
  }

  .faq-question:hover {
    filter: brightness(150%);
    text-shadow: 0 0 0.5rem black;
  }

  .faq-question p {
    justify-self: start;
  }

  .faq-question object {
    justify-self: end;
  }

  /* Footer */
  footer {
    display: flex;
    flex-direction: column;
    height: max-content;
    border-top: 1vh solid black;
    font-size: 1vw;
    padding: 3% 3%;
    gap: 3rem;
  }

  .footer-links {
    display: flex;
    gap: 1vw;
    justify-content: space-between;
  }

  .links-box ul li {
    list-style: none;
    margin-top: 5px;
  }

  .links-box ul li a {
    color: inherit;
  }

  /* Rating Section */

  .rating-section {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: content-box;
    height: fit-content;
  }

  .rating-header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 8%;
    box-sizing: border-box;
  }

  .rating-header h1 {
    font-size: 2.8vw;
  }

  .rating-header p {
    font-size: 1.2vw;
  }

  .card-ratings {
    width: 85vw;
    height: 25vw;
    position: relative;
    overflow: hidden;
  }

  .slideer {
    gap: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    position: absolute;
    top: 6.5%;
    /* transform: translateY(100%); */
  }

  .mobile-slide {
    display: none;
  }

  .slide-1 {
    width: 100%;
    transform: translateX(0%);
  }

  .slide-2 {
    width: 100%;
    transform: translateX(100%);
    /* display: none; */
  }

  .card-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 80%;
    border-radius: 15px;
    color: black;
    box-shadow: 0 0 0.5rem 1rem rgb(0, 0, 0, 0.2);
    box-sizing: border-box;
    text-align: center;
    padding: 1vw;
    box-sizing: content-box;
    transition: 1s;
  }

  .card-rating:hover {
    transform: translateY(-1rem);
    box-shadow: 0 0.5rem 1rem 0.5rem rgb(0, 0, 0, 0.1);
  }

  .card-rating img {
    height: 7vw;
    width: 7vw;
    /* margin-top: 0.5rem; */
  }

  .card-rating h3 {
    font-size: 1.5vw;
  }

  .card-rating p {
    font-size: 1vw;
  }

  .desc-card {
    margin-top: 15px;
    font-size: 0.8vw;
  }

  .btn-arrow {
    /* position: relative; */
    width: 30vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .rating-arrow {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .rating-arrow-left {
    justify-content: flex-end;
  }

  .rating-arrow-right {
    justify-content: flex-start;
  }

  .small-circles {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 0.5vw;
    align-items: center;
    justify-content: center;
  }

  .small-circle {
    width: 1.7vw;
    height: 1.7vw;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 1s;
  }

  .small-circle-mobile {
    display: none;
  }

  .btn-slider {
    border: none;
    background: inherit;
    color: black;
    border-radius: 50%;
    height: 5vw;
    width: 5vw;
    font-size: 3vw;
    cursor: pointer;
    box-shadow: 0 0 2rem 1rem rgb(0, 0, 0, 0.2);
  }

  /* Modal Style */

  .modal,
  .modal2 {
    position: fixed;
    top: 20vh;
    left: 32vw;
    width: 35vw;
    height: fit-content;
    background-color: white;
    padding: 3vw;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
  }

  .modal__header {
    font-size: 2vw;
    margin-top: 3%;
    line-height: 1.5;
  }

  .top-modal {
    margin-top: 5%;
  }

  .modal__form {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: fit-content;
  }

  .form-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-input label {
    width: 30%;
  }

  .form-input input {
    width: 65%;
    height: 3vw;
  }

  .form-button {
    justify-content: center;
  }

  .modal__form label {
    font-size: 1.5vw;
    font-weight: 500;
  }

  .modal__form input {
    font-size: 1.5vw;
    padding: 1rem 1.5rem;
    border: none;
    box-shadow: 0 0 1rem 0.3rem rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
  }

  .btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    left: 93%;
    top: -2%;
    font-size: 3vw;
    cursor: pointer;
    border: none;
    background: none;
  }

  .btn-modal {
    padding: 1vw 1.5vw;
    border-radius: 0.5vw;
    background-color: black;
    font-size: 1vw;
    font-family: inherit;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
  }

  .ask-new {
    margin-top: 10%;
    background-color: transparent;
    font-size: 1vw;
    font-family: inherit;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    color: black;
    box-shadow: 0 0 1rem 0.3rem rgb(0, 0, 0, 0.2);
    text-align: center;
    padding: 1vw;
    border-radius: 1rem;
  }

  .ask-new a {
    color: lightblue;
  }

  .highlight {
    position: relative;
    color: white;
  }

  .highlight::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-color: rgb(0, 0, 0, 0.5);
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
  }

  .disappear {
    display: none;
  }

  .secret-highlight {
    display: none;
  }
}

@media (max-width: 767px) {
  /* NAVIAGATION BAR */
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    transition: 1s;
    height: 10rem;
    z-index: 100;
    transition: 1s;
    padding: 1rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-group-link {
    position: fixed;
    left: -100%;
    top: 10rem;
    background-color: black;
    width: 100vw;
    text-align: center;
    transition: 0.3s;
    padding: 1rem;
    z-index: 100;
  }

  .nav-group-link ul {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .nav-group-link ul .nav-button {
    background-color: white;
    border-radius: 1rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-group-link.active {
    left: 0;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }

  /* 1. LOGO */
  .logo {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.2em;
    font-size: 5vw;
    height: inherit;
    color: white;
  }

  /* 2. Naviagtion Link */
  .nav-group-link a {
    text-decoration: none;
    color: rgb(64, 66, 88);
    font-size: 1.5rem;
  }

  .nav-group-link li {
    list-style: none;
  }

  /* Javascript event */
  .text-shadow {
    text-shadow: 0 0 10px #474e68, 0 0 20px #474e68, 0 0 30px #474e68;
  }

  .box-shadow {
    box-shadow: 0 0 10px #474e68, 0 0 20px #474e68, 0 0 30px #474e68;
  }

  .nav.sticky {
    position: fixed;
    opacity: 0.5;
    width: 100vw;
  }

  /* 3. Login Button */
  .loginBtn {
    display: none;
  }

  /* Main */
  main {
    display: grid;
    grid-template-rows: 1.5fr 2.3fr 0.2fr 0.1;
    grid-template-areas:
      "title"
      "image"
      "caption"
      "button";
    align-items: center;
    padding: 2rem;
  }

  .main-header,
  .mainCaption,
  .homeButton {
    justify-self: center;
  }

  /* Main Header */
  .main-header {
    grid-area: title;
    align-self: end;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 2rem;
  }

  /* Main Caption */
  .mainCaption {
    grid-area: caption;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Main Button */
  .homeButton {
    grid-area: button;
    width: fit-content;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homeButton button:hover {
    opacity: 0.8;
  }

  .learnmore-button {
    width: 20%;
    background-color: black;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 2vw;
    cursor: pointer;
    /* border: 1px solid green; */
  }

  /* Company Image */
  .companyImage {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .imageHome {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1vw 0.5rem 2vw rgb(0, 0, 0, 0.2);
  }

  /* Begin to enter some sections */
  section {
    transition: transform 1s, opacity 1s;
    border-top: 1vh solid black;
  }

  .start-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6.5vw;
    text-align: center;
  }

  .start-section {
    height: 50rem;
  }

  .start-section h1 {
    transition: 2s;
  }

  /* Banefits Section */
  .section {
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-areas:
      "title"
      "image"
      "caption";
  }

  .image-banefits {
    grid-area: image;
    width: 90%;
    height: fit-content;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s, opacity 1s;
  }

  .imageSection {
    width: 90%;
    box-shadow: 0 0 3rem black;
  }

  .title-banefits {
    width: 100%;
    height: 100%;
    grid-area: title;
    display: flex;
    justify-content: center;
    font-size: 4vw;
    text-align: center;
  }

  .caption-banefits {
    grid-area: caption;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3.5vw;
    padding: 1rem;
    transition: transform 1s, opacity 1s;
  }

  .banefits-hidden-1 {
    opacity: 0;
    transform: translateX(-8rem);
  }

  .banefits-hidden-2 {
    opacity: 0;
    transform: translateX(8rem);
  }

  .caption-1,
  .caption-3,
  .caption-5 {
    padding-left: 3vw;
    padding-right: 1vw;
  }

  .caption-2,
  .caption-4 {
    padding-left: 1vw;
    padding-right: 2vw;
  }

  .section--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }

  /* Subscription Section */
  .subscription-section {
    padding: 2rem;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  }
  .subscription-text {
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subscription-text h1 {
    font-size: 3rem;
  }

  .subscription-text p {
    font-size: 1.2rem;
  }

  .subscription-duration-option {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 30vw;
    height: fit-content;
    padding: 1.5rem;
    padding: 0.5rem 0.5vw;
    border-radius: 10px;
    box-shadow: 0 0 1rem 0.3rem rgb(0, 0, 0, 0.2);
  }

  .selected-option {
    width: 50%;
    position: absolute;
    height: 85%;
    border-radius: 1rem;
    background-color: black;
    z-index: 1;
    left: 2%;
    top: 7%;
    transition: 1s;
  }

  .move-to-right {
    transform: translateX(93%);
    /* background-color: rgb(80, 87, 122, .5); */
  }

  .subscription-option {
    font-size: 3vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0.3vw;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    z-index: 2;
    transition: 1s;
    color: white;
  }

  .subscription-option-2 {
    color: black;
  }

  .subscription-boxes {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    box-sizing: border-box;
    padding: 3% 3%;
  }

  .subs-box {
    width: 60vw;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 3vw 3vw;
    transition: 1s;
    box-shadow: 0 0 1rem 0.3rem rgb(0, 0, 0, 0.2);
  }

  .subs-box:hover {
    filter: brightness(110%);
    transform: translateY(-3rem);
  }

  .subs-title-text,
  .subs-price {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .subs-title-text {
    width: 90%;
    height: 25%;
  }

  .subs-title-text h1 {
    font-size: 7vw;
  }

  .subs-title-text p {
    font-size: 3vw;
  }

  .subs-price {
    width: 90%;
    height: 25%;
    font-size: 8vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subs-banefits {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    box-shadow: 0 0 1rem 0.3rem rgb(0, 0, 0, 0.2);
    color: black;
    padding: 5% 5%;
    border-radius: 15px;
  }

  .banefits-list {
    font-size: 3vw;
  }

  .subs-banefits ul li {
    list-style: none;
    background-image: url(img/checklist.svg);
    background-repeat: no-repeat;
    background-position: left 15%;
    display: flex;
    align-items: center;
    background-size: 4vw;
    padding-left: 6.5vw;
    list-style-position: inside;
  }

  .purchase-button {
    width: 90%;
    height: 18%;
    border-radius: 15px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 3vw;
    cursor: pointer;
  }

  .purchase-button:hover {
    opacity: 0.8;
  }

  /* FAQ */
  .faq {
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .faq h1 {
    font-size: 8vw;
    text-align: center;
  }

  .faq-boxes {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .faqbox {
    width: 90%;
    height: fit-content;
    padding: 3vw;
    color: black;
    font-size: 3vw;
    box-shadow: 0 0 1rem 0.3rem rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    transition: 0.5s;
  }

  .faq-question {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }

  .faq-question object {
    transition: 0.5s;
  }

  .faq-question:hover {
    filter: brightness(150%);
    text-shadow: 0 0 1rem black;
  }

  .faq-question p {
    justify-self: start;
  }

  .faq-question object {
    justify-self: end;
    width: 10vw;
    height: 10vw;
  }

  /* Footer */
  footer {
    display: flex;
    flex-direction: column;
    height: max-content;
    border-top: 1vh solid black;
    font-size: 2.5vw;
    padding: 3% 3%;
    gap: 3rem;
  }

  .footer-links {
    display: flex;
    gap: 1vw;
    justify-content: space-between;
  }

  .links-box ul li {
    list-style: none;
    margin-top: 5px;
  }

  .links-box ul li a {
    color: inherit;
  }

  /* Rating Section */

  .rating-section {
    display: flex;
    padding: 2rem;
    /* gap: 1rem; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .rating-header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .rating-header h1 {
    font-size: 3rem;
  }

  .rating-header p {
    font-size: 1.2rem;
  }

  .card-ratings {
    display: none;
  }

  .mobile-slide {
    position: relative;
    width: 60vw;
    height: 30rem;
    overflow: hidden;
  }

  .mobile-card-rating {
    transition: 1s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 85%;
    box-sizing: border-box;
    padding: 1rem;
    top: 5%;
    left: 5%;
    border-radius: 15px;
    color: black;
    box-shadow: 0 0 0.5rem 0.5rem rgb(0, 0, 0, 0.2);
    text-align: center;
  }

  .mobile-card-rating:hover {
    transform: translateY(-1rem);
    box-shadow: 0 0.5rem 1rem 0.5rem rgb(0, 0, 0, 0.1);
  }

  .mobile-card-rating-1 {
    transform: translateX(0%);
  }
  .mobile-card-rating-2 {
    transform: translateX(110%);
  }
  .mobile-card-rating-3 {
    transform: translateX(220%);
  }
  .mobile-card-rating-4 {
    transform: translateX(330%);
  }
  .mobile-card-rating-5 {
    transform: translateX(440%);
  }
  .mobile-card-rating-6 {
    transform: translateX(550%);
  }

  .mobile-card-rating img {
    height: 20vw;
    width: 20vw;
    /* margin-top: 0.5rem; */
  }

  .mobile-card-rating h3 {
    font-size: 1.5rem;
  }

  .mobile-card-rating p {
    font-size: 1rem;
  }

  .desc-card {
    margin-top: 1rem;
  }

  .btn-arrow {
    width: 60vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rating-arrow {
    display: flex;
    padding: 1rem;
    align-items: flex-start;
  }

  .rating-arrow-left {
    justify-content: flex-end;
  }

  .rating-arrow-right {
    justify-content: flex-start;
  }

  .small-circles {
    display: flex;
    width: 80%;
    gap: 0.5vw;
    width: fit-content;
    align-items: center;
    justify-content: center;
  }

  .small-circle {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 1s;
  }

  .btn-slider {
    border: none;
    background: inherit;
    color: black;
    border-radius: 50%;
    height: 10vw;
    width: 10vw;
    font-size: 5vw;
    cursor: pointer;
    box-shadow: 0 0 2rem 1rem rgb(0, 0, 0, 0.2);
  }

  /* Modal Style */

  .modal,
  .modal2 {
    position: fixed;
    top: 20vh;
    left: 10vw;
    width: 80vw;
    height: fit-content;
    background-color: white;
    padding: 5vw;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
  }

  .modal__header {
    font-size: 5vw;
    margin-top: 3%;
    line-height: 1.5;
  }

  .top-modal {
    margin-top: 5%;
  }

  .modal__form {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: fit-content;
  }

  .form-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-input label {
    width: 30%;
  }

  .form-input input {
    width: 65%;
    height: 8vw;
  }

  .form-button {
    justify-content: center;
  }

  .modal__form label {
    font-size: 3.5vw;
    font-weight: 500;
  }

  .modal__form input {
    font-size: 5vw;
    padding: 1rem 1.5rem;
    border: none;
    box-shadow: 0 0 1rem 0.3rem rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
  }

  .btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    left: 93%;
    top: -2%;
    font-size: 9vw;
    cursor: pointer;
    border: none;
    background: none;
  }

  .btn-modal {
    padding: 2vw 4vw;
    border-radius: 1vw;
    background-color: black;
    font-size: 3vw;
    font-family: inherit;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
  }

  .ask-new {
    margin-top: 10%;
    background-color: transparent;
    font-size: 3vw;
    font-family: inherit;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    color: black;
    box-shadow: 0 0 1rem 0.3rem rgb(0, 0, 0, 0.2);
    text-align: center;
    padding: 3vw;
    border-radius: 1rem;
  }

  .ask-new a {
    color: lightblue;
  }

  .highlight {
    position: relative;
    color: white;
  }

  .highlight::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-color: rgb(0, 0, 0, 0.5);
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
  }

  .disappear {
    display: none;
  }

  .secret-highlight {
    display: none;
  }
}

@media only screen and (min-width: 362px) and (max-width: 486px) {
  .main-highlight {
    display: none;
  }

  .secret-highlight {
    display: block;
  }
}
.logo h1 {
  transition: 2s;
  cursor: pointer;
}

.modal-highlight::after {
  background-color: black;
}
